@charset "utf-8";
/* CSS Document */
  	.header{width:1001px;margin:0 auto;}
	.header_left{height:23px;font:12px/12px "新宋体";background:url(../images/top1_02.jpg) no-repeat left top;padding:17px 0 0 144px;display:inline-block;}
	.header_right{float:right;font:18px/40px "微软雅黑";display:inline;}
	
	.banner{height:560px;background:url(../images/images/banner.jpg) no-repeat center center;}
	.banner1{width:1000px;margin:0 auto;}

	.van{position:fixed;right:2%;top:50%;width:130px;height:502px;background:url(../images/images/van.jpg);}
	.van ul{padding-top:60px;}
	.van li{float:left;height:40px;width:130px;font:16px/40px "微软雅黑";text-align:center;}
	.van li a{color:#fff;}
	
	.content{width:1000px;;margin:0 auto;text-align:center;padding-top:50px;}
	.content1{height:71px;padding-left:380px;background:url(../images/images/contant3.png) no-repeat left center;}
	.content1 .cnt_left{float:left;font:18px/24px "微软雅黑";padding-top:10px;}
	.content1 .cnt_right{float:left;font:36px/48px "微软雅黑";padding:10px 0 0 29px;}
	.cnt_right .gre{color:#31bb6d;font-size:48px;}
	
	
	.content_left{float:left;width:500px;padding-top:34px;}
	.new{padding:15px 0 0 78px;background:url(../images/images/content3.jpg) no-repeat left 25px;font:14px/28px "宋体";color:#666;text-align:left;}
	.content_left .red{font:20px/46px "微软雅黑";color:#f14b48;padding-top:10px;}
	.content_right{float:right;padding-top:34px;}
	.content_right span{width:24px;height:54px;display:block;}
	.zhs{width:460px;height:160px;border:1px solid  #e7e7e7;margin-top:50px;position:relative;}
	.zhs ul{padding-left:28px;}
	.zhs li{float:left;margin:30px 36px 0;}
	
	.content_left .th{padding-top:26px;width:448px;}
	.content_left .th li{background:url(../images/images/ico1.png) no-repeat left center;font:16px/56px "微软雅黑";text-align:left;padding-left:11px;color:#fff;}
	.th li .net{float:right;display:inline-block;font:18px/45px "微软雅黑";border-bottom:1px dashed #cdcdcd;}
	.tab1{background:#d73240;font:18px/46px "微软雅黑";color:#fff;border-collapse:collapse;}
	.tab2{border-collapse:collapse;}
	.tab2 td{font:18px/46px "微软雅黑";font:14px/20px "微软雅黑";border:1px solid #ceb7e6;height:48px;}
	
	.content3_left{float:left;margin-top:48px;}
	.content3_left span{display:inline-block;width:400px;background:#2dafe0 url(../images/images/partlt.jpg) no-repeat 194px 14px;font:24px/62px "微软雅黑";padding-left:50px;color:#fff;}
	.content3_left li{height:54px;width:405px;font:16px/54px "微软雅黑";border-bottom:1px dashed #e7e7e7;background:url(../images/images/images/part301.jpg) no-repeat left center;margin-left:20px;text-align:left;padding-left:30px;}
	 .content3_left li.more{width:179px;height:40px;border:1px solid #57bee5;border-radius:15px;text-align:center;background:none;margin:19px 0 24px 129px;padding-bottom:11px;}
	 .content3_left li.more a{font:16px/40px "微软雅黑";color:#57bee5;}
	.content3_right{float:right;margin-top:48px;;}
	.content3_right span{display:inline-block;width:390px;background:#ef7f6b url(../images/images/partrt.jpg) no-repeat 194px 14px;font:24px/62px "微软雅黑";padding-left:60px;color:#fff;}
	.content3_right li{height:54px;width:405px;font:16px/54px "微软雅黑";border-bottom:1px dashed #e7e7e7;background:url(../images/images/images/part301.jpg) no-repeat left center;margin-left:20px;text-align:left;padding-left:30px;}
	 .content3_right li.more{width:179px;height:40px;border:1px solid #ef7f6b;border-radius:15px;text-align:center;background:none;margin:19px 0 24px 129px;padding-bottom:11px;}
	.content3_right li.more a{font:16px/40px "微软雅黑";color:#ef7f6b;}
	.content3_footer{display:-webkit-box;-webkit-box-orient:horizontal;padding:42px 0 70px;}
	.content3_footer a{font:bold 32px/280px "微软雅黑";color:#fff;}
	.part4{margin:43px 0 38px 62px;}
	.part4 li{float:left;width:160px;height:50px;font:22px/50px "微软雅黑";background:#fff;border-radius:5px;margin-right:22px;}
	.part4 li:hover{background:#fa5254;}
	.part4_table {border-collapse:collapse;background-color:#fafafa;}
	.part4_table th,td{border:1px solid #dddddd;}
	.part4_table th{height:52px;color:#333;font:20px/52px "微软雅黑";}
	.part4_table td{height:50px;color:#666;font:14px/52px "微软雅黑";}
	.part4_table td a{display:inline-block;width:102px;height:30px;background-color:#fa5254;font:18px/30px "微软雅黑";border-radius:3px;color:#fff;}
	
	.part5_lt{float:left;background-color:#f0efed;width:654px;height:314px;position:absolute;padding-left:16px;}
	.part5_lt span{height:54px;width:24px;}
	.part5_lt li{float:left;background:#f8f8f8;width:194px;height:288px;margin:16px 9px 0;}
	.part5_lt li p{font:12px/18px "微软雅黑";color:#666;width:148px;margin:12px 0 0 22px;}
	.part5_rt{float:right;background:#f0efed;width:312px;height:312px;}
	.part5_rt p{font:bold 24px/24px "微软雅黑";color:#2dcc70;padding-top:22px;}
	.part5_rt dl{background:url(../images/images/part54.jpg) no-repeat 23px 24px;text-align:left;padding-left:88px;}
	.part5_rt dl dt{font:bold 16px/30px "微软雅黑";color:#666;padding-top:17px}
	.part5_rt dl dd{font:14px/18px "微软雅黑";color:#888;}
	
	.part6{height:71px;padding-left:380px;background:url(../images/images/part6.png) no-repeat left center;}
	.part6_left{float:left;font:20px/24px "微软雅黑";padding-top:10px;color:#555;}
	.part6_right{float:left;font:bold 42px/48px "微软雅黑";padding:10px 0 0 29px;color:#fff;}
	.part6_lt{float:left;font:12px/22px "宋体";color:#fff;text-align:left;}
	.part6_lt ul{margin:20px 0 0 62px;width:427px;padding-left:20px;background:url(../images/images/part602.jpg) no-repeat left top;}
	.part6_lt li{margin:49px 0 0 20px;}
	.part6_rt{float:left;font:12px/22px "宋体";color:#fff;text-align:left;}
	.part6_rt ul{margin-top:20px;padding-left:50px;background:url(../images/images/part603.jpg) no-repeat 30px 13px;}
	.part6_rt li{margin:49px 0 0 20px;}
	
	
	.footer{margin:0 auto;width:1000px;text-align:center;font:12px/30px "宋体";color:#666666;padding:44px 0 42px;}